[submodule "protos/artifacts"]
	path = protos/artifacts
	url = git@github.com:rapidaai/internal-bridge.git
[submodule "docs"]
	path = docs
	url = git@github.com:rapidaai/rapidaai-docs.git
[submodule "sdks/react"]
	path = sdks/react
	url = https://github.com/rapidaai/rapida-react
[submodule "sdks/go"]
	path = sdks/go
	url = git@github.com:rapidaai/rapida-go.git
[submodule "sdks/nodejs"]
	path = sdks/nodejs
	url = git@github.com:rapidaai/rapida-nodejs.git
[submodule "sdks/python"]
	path = sdks/python
	url = git@github.com:rapidaai/rapida-python.git
[submodule "examples/python"]
	path = examples/python
	url = git@github.com:rapidaai/rapida-python-recipes.git
