[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.115.0"
pydantic = "2.9.2"
uvicorn = "0.30.6"
requests = "2.32.3"
python-dotenv = "1.0.1"
elasticsearch =  "<=7.13.0"
redis = "4.3.1"
async-timeout = "*"
python-dateutil = "2.8.2"
elastic-apm = "6.9.1"
psycopg2 = "*"
pyyaml = "*"
psycopg2-binary = "*"
grpcio = "*"
grpcio-tools = "*"
asyncpg = "0.29.0"
sqlalchemy = "2.0.35"
pyjwt = "2.4.0"
protobuf = {version="==5.28.2"}
httpx = "*"
greenlet = "*"
pydantic-settings = "*"
aiobotocore = "*"
boto3 = "*"
invoke = "*"
opentelemetry-sdk = "*"
celery = "*"
flower = "*"
spacy = "*"
cohere = "==5.2.6"
types-aiobotocore = {extras = ["s3","sts"], version = "*"}
semantic-router = {extras = ["hybrid"], version = "*"}
pandas = "*"
xlrd = "==2.0.1"
unstructured = "==0.17.2"
pillow-heif = "==0.3.2"
pillow = "==10.3.0"
pdf2image = "==1.17.0"
pdfplumber = "==0.9.0"
pikepdf = "==9.0.0"
textractor = "*"
openpyxl = "*"
nltk = "*"
pypdfium2 = "*"
grpc-interceptor = "*"
torch = "*"
libmagic = "*"
pi-heif = "*"
unstructured_inference = "*"
unstructured_pytesseract = "*"
openparse = "*"

[dev-packages]
pylint = "2.13.9"
pytest = "7.1.2"
pytest-cov = "3.0.0"
async-asgi-testclient = "1.4.10"
async_generator = "1.10"
asyncmock = "0.4.2"
invoke = "1.7.1"
"ruamel.yaml" = "0.17.21"
pytest-asyncio = "0.18.3"
pre-commit = "2.19.0"

[requires]
python_version = "3.12.6"

[scripts]
dev = "invoke dev"
lint = "invoke lint"
test = "invoke test"
git = "invoke git"
setup = "invoke setup"
requirements = "invoke requirements"
dockerize = "invoke dockerize"
